h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Vast Shadow', cursive;
}

body {
    background: url("../img/ccBackground.png") no-repeat right top;
    background-size: cover;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 600;
}

.round {
    border-radius: 2rem;
    background: #FFF;
    padding: 2rem 2rem;
}

.tm {
    background: #AEA94C;
    padding-top: 1rem;
}

.rotate {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

.rotate:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.button {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}
.button:hover {
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
}